body {
  margin: 0;
  display: flex;
  flex-direction: row;
  font-size: 8pt;
  font-family: "Roboto", sans-serif;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: rgb(53, 64, 82);
  color: rgb(200, 200, 200);
  position: fixed;
  height: 100%;
  width: 0;
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 10px;
  transition: 0.5s;
}

.profile-container {
  align-self: center;
}

.profile-picture {
  height: 12vh;
  width: auto;
  border-radius: 50%;
}

.name {
  text-align: center;
}

.nav-section {
  margin-left: 5%;
  margin-top: 0;
  border-bottom: solid #111;
}

.main-heading {
  margin-top: 0;
}

.icons {
  display: flex;
  flex-direction: row;
}

.icon-image {
  height: 3vh;
  width: auto;
  align-self: center;
  margin: 1%;
  margin-right: 5%;
}

.topnav {
  overflow: hidden;
}

.topnav input[type="text"] {
  float: right;
  padding: 6px;
  padding-left: 40px;
  font-size: 17px;
  width: 60vw;
  height: 4.35vh;
  border: solid rgb(200, 200, 200);
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 13px center;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(200, 200, 200);
  display: block;
  transition: 0.3s;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: whitesmoke;
  padding: 10px 15px;
  border: solid rgb(200, 200, 200);
  height: 6vh;
}

.openbtn:hover {
  background-color: rgb(25, 164, 251);
}

.nav-bar {
  display: flex;
  flex-direction: row;
}

.nav-button {
  height: 6vh;
  width: 4vw;
  background-size: 3vh;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  border: solid rgb(200, 200, 200);
}

.nav-button:hover {
  background-color: rgb(25, 164, 251);
  cursor: pointer;
}

#add-friend {
  background-image: url(./assets/add-friend.png);
}

#add-event {
  background-image: url(./assets/add-calendar-symbol-for-events.png);
}

#see-all {
  background-image: url(./assets/grid.png);
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s; /* If you want a transition effect */
  padding: 20px;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 5%;
  cursor: pointer;
  font-size: 10pt;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

#admin input:checked ~ .checkmark {
  background-color: #ffe228;
}

#design input:checked ~ .checkmark {
  background-color: #2196f3;
}

#executive input:checked ~ .checkmark {
  background-color: rgb(224, 37, 37);
}

#human-resources input:checked ~ .checkmark {
  background-color: rgb(0, 144, 96);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 5px;
  width: 4px;
  height: 8px;
  border: solid rgb(0, 0, 0);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#main {
  padding: 10px;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.job-title {
  font-size: 25pt;
  margin-bottom: 0;
}

.location {
  margin-top: 15px;
  font-size: 12pt;
  margin-bottom: auto;
}

#icon-image-location {
  margin-right: 5px;
  margin-left: 0;
}

.second-nav-bar {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.second-nav-bar-button {
  background: none;
  border: none;
  padding-bottom: 10px;
}

.second-nav-bar-button:hover {
  cursor: pointer;
  border-bottom: solid 3px #2196f3;
}

.graphs {
  background-color: rgb(239, 239, 239);
}

.circle-chart {
  margin: 30px;
}

.circle-chart__circle {
  animation: circle-chart-fill 2s reverse;
  transform: rotate(90deg);
  transform-origin: center;
}

.circle-chart__circle--negative {
  transform: rotate(90deg) scale(1, -1);
}

.circle-chart__info {
  animation: circle-chart-appear 2s forwards;
  opacity: 0;
  transform: translateY(0.3em);
}

@keyframes circle-chart-fill {
  to {
    stroke-dasharray: 0 100;
  }
}

@keyframes circle-chart-appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.circle-graphs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
  margin-right: 10px;
}

.graphs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bar-graph {
  height: 180px;
  width: auto;
  margin: 30px;
  margin-top: 90px;
}

.labels-for-graphs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(239, 239, 239);
  padding-bottom: 50px;
  border-bottom: solid 1px rgb(53, 64, 82);
}

.label-div {
  background-color: white;
  border: solid 2px #111;
  width: 200px;
  text-align: center;
  border-radius: 20px;
}

.forms-descriptions {
  background-color: rgb(239, 239, 239);
  font-size: 10pt;
}

.job-form {
  margin: 50px;
  margin-top: 0;
  padding: 10px;
  padding-top: 50px;
  width: 700px;
}

.form-div {
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px rgb(53, 64, 82);
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
}

.form-div-heading {
  background-color: rgb(129, 129, 129);
  padding: 10px;
  color: rgb(239, 239, 239);
  border-radius: 3px;
  border-bottom: none;
}

.form-heading {
  width: 100px;
}

.form-description {
  width: 300px;
  height: auto;
  margin-left: 50px;
  text-align: left;
}

.buttons-section {
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  width: 520px;
  height: 800px;
  background-color: rgb(239, 239, 239);
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 30px;
}

.bottom-half-main {
  display: flex;
  flex-direction: row;
}

.social-media-button {
  width: 200px;
  height: 50px;
}

.link-trees-social {
  width: 200px;
}

#facebook {
  background-color: rgb(75, 113, 195);
  border: none;
  border-radius: 3px;
  color: rgb(255, 255, 255);
}

#twitter {
  background-color: rgb(5, 168, 239);
  border: none;
  border-radius: 3px;
  color: rgb(255, 255, 255);
}

#linkedIn {
  background-color: rgb(2, 129, 188);
  border: none;
  border-radius: 3px;
  color: rgb(255, 255, 255);
}
