.side-bar {
  display : flex;
  flex-direction : column;
  background-color : rgb(53, 64, 82);
  color: rgb();
}

.profile-picture {
  height: 12vh;
  width : auto;
  border-radius : 50%;
}

.icons {
  display: flex;
  flex-direction: row;
}

.icon-image {
  height : 3vh;
  width : auto;
}